<section class="advantages container">
    <h2 class="visually-hidden">Advantages rental</h2>
    <div>
        <ol class="advantages-list">
            <li class="advantages-item">
                <h3 class="advantages-item-title">01</h3>
                <p class="advantages-item-text">Swimming and water sports: try your hand at water skiing</p>
            </li>
            <li class="advantages-item">
                <h3 class="advantages-item-title">02</h3>
                <p class="advantages-item-text">Fishing: try to catch your own dinner</p>
            </li>
            <li class="advantages-item">
                <h3 class="advantages-item-title">03</h3>
                <p class="advantages-item-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
            </li>
            <li class="advantages-item">
                <h3 class="advantages-item-title">04</h3>
                <p class="advantages-item-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
            </li>
        </ol>
    </div>
    <div class="advantages-foto">
        <picture>
            <source srcset="/img/advantages/Photo1x-desktop.webp 1x, /img/advantages/Photo2x-desktop.webp 2x"
            media="(min-width: 1280px)"
            >
            <source srcset="/img/advantages/Photo1x-tablet.webp 1x, /img/advantages/Photo2x-tablet.webp 2x"
            media="(min-width: 768px)"
            >
            <source srcset="/img/advantages/Photo1x-mobile.webp 1x, /img/advantages/Photo2x-mobile.webp 2x"
            media="(min-width: 320px)"
            >
            <img class="advantages-img" src="/img/advantages/Photo1x-mobile.webp" alt="Photo-advantages" width="704">
        </picture>
    </div>
</section>
