<header class="header">
  <div class="container header-container">
    <nav class="mobile-nav">
      <span class="mobile-logo">
        <a href="index.html" class="logo-link">yachtjet</a>
      </span>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#about-us.html" class="button btn-header-tablet"
            >About</a
          >
        </li>
        <li class="header-menu-item">
          <a href="#our-yachts.html" class="button btn-header-tablet"
            >Yachts</a
          >
        </li>
        <li class="header-menu-item">
          <a href="#reviews.html" class="button btn-header-tablet"
            >Reviews</a
          >
        </li>
      </ul>
      <button
        id="mobileMenuBtn"
        class="mobile-btn-menu"
        type="button"
        aria-label="mobile btn menu"
      >
        <svg class="mobile-menu-svg" width="28" height="28">
          <use href="/img/svg/icons.svg#icon-btn-menu-mbile"></use>
        </svg>
      </button>
      <ul class="header-social">
        <li class="header-social-item"><a href="https://www.instagram.com/goitclub/" target="_blank" class="header-social-link">
            <svg class="header-svg" width="24" height="24">
                <use href="../img/svg/icons.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
        <li class="header-social-item"><a href="https://www.youtube.com/c/GoIT" target="_blank" class="header-social-link">
            <svg class="header-svg" width="24" height="24">
                <use href="../img/svg/icons.svg#icon-you-tube"></use>
            </svg>
        </a>
    </li>
        <li class="header-social-item"><a href="https://www.facebook.com/goITclub/" target="_blank" class="header-social-link">
            <svg class="header-svg" width="24" height="24">
                <use href="../img/svg/icons.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
      </ul>
    </nav>
  </div>
</header>
