
<header class="header">
  <div class="container header-container">
    <nav class="mobile-nav">
      <span class="mobile-logo">
        <a href="index.html" class="logo-link wow animate__animated animate__flipInX" data-wow-duration="4s">yachtjet</a>
      </span>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#about-us.html" class="button btn-header-tablet">About</a>
        </li>
        <li class="header-menu-item">
          <a href="#yachts" class="button btn-header-tablet">Yachts</a>
        </li>
        <li class="header-menu-item">
          <a href="#reviews" class="button btn-header-tablet">Reviews</a>
        </li>
      </ul>

      <button id="mobileMenuBtn" class="mobile-btn-menu" type="button" aria-label="mobile btn menu">
        <svg class="mobile-menu-svg" width="28" height="28">
          <use href="/img/svg/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <ul class="header-social">

        <li class="header-social-item"><a href="https://www.instagram.com/goitclub/" target="_blank"
            class="header-social-link">

            <svg class="header-svg" width="24" height="24">
              <use href="/img/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-item"><a href="https://www.youtube.com/c/GoIT" target="_blank"
            class="header-social-link">

            <svg class="header-svg" width="24" height="24">
              <use href="/img/svg/icons.svg#icon-you-tube"></use>
            </svg>
          </a>
        </li>

        <li class="header-social-item"><a href="https://www.facebook.com/goITclub/" target="_blank"
            class="header-social-link">

            <svg class="header-svg" width="24" height="24">
              <use href="/img/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div id="mobileWindow" class="modale-window">
      <div class="modale-nav">
        <div class="modale-wrap">
          <span class="modale-logo">yachtjet</span>
          <button id="modaleClose" class="modale-close-btn" type="button">
            <svg class="header-modale-svg" width="16" height="16">
              <use href="/img/svg/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="modale-block">
          <ul class="modale-list">
            <li class="modale-item">

              <a href="#about-us.html" class="button btn-modale-primary">About</a>
            </li>
            <li class="modale-item">
              <a href="#yachts" class="button btn-modale-secondary">Yachts</a>
            </li>
            <li class="modale-item">
              <a href="#reviews" class="button btn-modale-secondary">Reviews</a>
            </li>
          </ul>
          <ul class="modale-social">
            <li class="modale-social-item"><a href="https://www.instagram.com/goitclub/" target="_blank"
                class="modale-social-link">
                <svg class="modale-svg" width="24" height="24">
                  <use href="/img/svg/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>

            <li class="modale-social-item"><a href="https://www.youtube.com/c/GoIT" target="_blank"
                class="modale-social-link">
                <svg class="modale-svg" width="24" height="24">
                  <use href="/img/svg/icons.svg#icon-you-tube"></use>
                </svg>
              </a>
            </li>

            <li class="modale-social-item"><a href="https://www.facebook.com/goITclub/" target="_blank"
                class="modale-social-link">

                <svg class="modale-svg" width="24" height="24">
                  <use href="/img/svg/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

