<section id="yachts" class="our-yachts">
  <div class="container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yacht-arrow-desct.jpg    1x,
              ./img/our-yachts/yacht-arrow-desct@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht-arrow-tab.jpg    1x,
              ./img/our-yachts/yacht-arrow-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht-arrow-mob.jpg    1x,
              ./img/our-yachts/yacht-arrow-mob@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/our-yachts/yacht-arrow-desct.jpg"
            alt="photo-yacht-1"
          />
        </picture>
        <div class="our-yachts-info yacht-info">
          <div class="yacht-info-desc">
            <h3 class="yacht-info-name">Arrow</h3>
            <p class="yacht-info-type">LUXURY YAHTS</p>
          </div>
          <ul class="yacht-info-list">
            <li class="yacht-info-item">
              <p class="yacht-property">LENGTH</p>
              <p class="yacht-value">48m(155ft)</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">BUILDER</p>
              <p class="yacht-value">Admiral</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">BUILT</p>
              <p class="yacht-value">2021</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">GUESTS</p>
              <p class="yacht-value">11 in 5 cabins</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">PRICE</p>
              <p class="yacht-value">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yacht-benetti-desct.jpg    1x,
              ./img/our-yachts/yacht-benetti-desct@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/our-yachts/yacht-benetti-tab.jpg    1x,
              ./img/our-yachts/yacht-benetti-tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source srcset="" media="(max-width:767px)" />
          <img
            src="./img/our-yachts/yacht-benetti-desct.jpg"
            alt="photo-yacht-2"
          />
        </picture>
        <div class="our-yachts-info yacht-info">
          <div class="yacht-info-desc">
            <h3 class="yacht-info-name">BENETTI OASIS 40M BO122</h3>
            <p class="yacht-info-type">LUXURY YAHTS</p>
          </div>
          <ul class="yacht-info-list">
            <li class="yacht-info-item">
              <p class="yacht-property">LENGTH</p>
              <p class="yacht-value">41m (133ft)</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">SHIPYARD</p>
              <p class="yacht-value">Benetti</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">BUILT</p>
              <p class="yacht-value">2025</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">GUESTS</p>
              <p class="yacht-value">10 in 5 cabins</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">PRICE</p>
              <p class="yacht-value">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yacht-belle-desct.jpg 1x,
              ./img/our-yachts/yacht-belle-desct@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source srcset="" media="(min-width:768px)" />
          <source srcset="" media="(max-width:767px)" />
          <img
            src="./img/our-yachts/yacht-belle-desct.jpg"
            alt="photo-yacht-3"
          />
        </picture>
        <div class="our-yachts-info yacht-info">
          <div class="yacht-info-desc">
            <h3 class="yacht-info-name">BELLE ANNA</h3>
            <p class="yacht-info-type">LUXURY YAHTS</p>
          </div>
          <ul class="yacht-info-list">
            <li class="yacht-info-item">
              <p class="yacht-property">LENGTH</p>
              <p class="yacht-value">50m(155ft)</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">SHIPYARD</p>
              <p class="yacht-value">ISA</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">BUILT</p>
              <p class="yacht-value">2012</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">GUESTS</p>
              <p class="yacht-value">12 in 6 cabins</p>
            </li>
            <li class="yacht-info-item">
              <p class="yacht-property">PRICE</p>
              <p class="yacht-value">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <a href="#rent">Yacht rental</a>
  </div>
</section>
