<section class="rent-a-yacht" id="rent">
  <div class="container rent-container">
    <form class="rent-form" name="rent-a-yacht">
      <h2 class="rent-yacht-title">Rent a yacht now</h2>
      <div class="inputs-container">
        <label class="rent-label-text" for="user-name">
          <input
            class="rent-form-input"
            name="user-name"
            id="user-name"
            type="text"
            placeholder="Full Name"
            pattern="[A-Za-z]{3,}"
            required
          />
        </label>
        <label class="rent-label-text" for="user-email">
          <input
            class="rent-form-input"
            name="user-email"
            id="user-email"
            type="email"
            placeholder="Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            required
          />
        </label>
        <label class="rent-label-text" for="user-phone">
          <input
            class="rent-form-input"
            name="user-phone"
            id="user-phone"
            type="tel"
            placeholder="Phone Number"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            required
          />
        </label>
        <textarea
          class="comment-field"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
      </div>
      <button class="button form-btn" type="submit">Send</button>
    </form>
    <picture>
      <source
        srcset="
          /img/rent-a-yacht/rent-a-yachtMob.webp    1x,
          /img/rent-a-yacht/rent-a-yachtMob@2x.webp 2x
        "
        media="(max-width: 375px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-a-yachtDesc.webp    1x,
          /img/rent-a-yacht/rent-a-yachtDesc@2x.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-a-yachtTab.webp    1x,
          /img/rent-a-yacht/rent-a-yachtTab@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="rent-img"
        src="/img/rent-a-yacht/rent-a-yachtMob.webp"
        width="335"
        height="412"
        alt="Banking App"
      />
    </picture>
  </div>
</section>
