ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background: #1b414b;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94px;
}

.advantages-item-text {
    position: relative;
    height: 28px;
}

.advantages-item-text::after {
    content: '';
    position: absolute;
    left: 0;
    top: -18px;
    width: 100%;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
}

.advantages-item-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    width: 295px;
}

.advantages-item-text {
    opacity: 0.8;
    border-radius: 18px;
}

.advantages-foto {
    margin-top: 20px;
    border-radius: 24px;
}
.advantages-img {
    display: block;
    border-radius: 24px;
}

@media screen and (min-width: 768px) {
    .container-advantages {
        width: 100%;
        max-width: 768px;
        padding: 0 32px;
        margin: 0 auto;
    }
    
    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 44px;
        border-radius: 24px;
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .advantages-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(50% - 22px);
        height: 100px;
    }

    .advantages-item-text {
        height: 30px;
    }

    .advantages-item-text::after {
        width: 304px;
    }

    .advantages-foto {
        margin-top: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container-advantages {
        width: 100%;
        max-width: 1280px;
        padding: 0 50px;
        margin: 0 auto;
        display: flex;
        gap: 32px;
        justify-content: space-between;
        align-items: flex-end;
    }

    .advantages-list {
        width: 716px;
    }
}