.section {
}

.hero-section {
  padding-top: 260px;
  padding-bottom: 302px;
}

.container {
}

.hero-title {
  font-size: 32px;
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 300;
  color: rgba(251, 251, 251, 0.7);
  text-align: center;
  margin-bottom: 38px;
}

.hero-btn {
  border-radius: 15px;
  padding: 14px 32px;
  min-width: 141px;
  height: 46px;
  background-color: #1b414b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
}

.hero-btn:hover {
  color: #1b414b;
  background-color: #fbfbfb;
}
