body {
  font-family: 'Inter', sans-serif;
  background-color: #0e1823;
  color: #fbfbfb;
}
.container {
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}
h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
}
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.button {
  color: inherit;
  font-style: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
