.rent-a-yacht {
}
.rent-container {
}
@media screen and (min-width: 768px) {
  .rent-container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 1280px) {
  .rent-container {
    width: 100%;
    max-width: 1280px;
    padding: 0 50px;
    margin: 0 auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.rent-yacht-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .rent-yacht-title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}

.rent-form {
}
@media only screen and (min-width: 768px) {
  .rent-form {
    /* margin: 0 148px; */
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  width: 335px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .inputs-container {
    width: 473px;
    margin-bottom: 50px;
  }
}
.rent-label-text {
}
.rent-form-input {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 42px;

  color: #fbfbfb;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  outline: transparent;
  background: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rent-form-input::placeholder {
  color: rgba(251, 251, 251, 0.4);
}
@media only screen and (min-width: 768px) {
  .rent-form-input {
    height: 54px;
    padding: 18px 18px;
    font-size: 14px;
    line-height: 1.28;
  }
}
.rent-form-input:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}
.comment-field {
  width: 100%;
  height: 108px;

  padding: 14px 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #fbfbfb;

  resize: none;
  outline: transparent;
  background: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field::placeholder {
  color: rgba(251, 251, 251, 0.4);
}
@media only screen and (min-width: 768px) {
  .comment-field {
    height: 116px;
    padding: 18px 18px;
    font-size: 14px;
    line-height: 1.28;
  }
}
.comment-field:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.form-btn {
  background-color: #1b414b;
  border: none;
  border-radius: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  padding: 14px 44px;
  width: 122px;
  height: 46px;
  margin-bottom: 80px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .form-btn {
    font-size: 18px;
    line-height: 1.1;

    width: 194px;
    height: 56px;

    margin-bottom: 100px;
  }
  .form-btn:hover {
    background: #fbfbfb;
    color: #1b414b;
  }
}
.form-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}
@media only screen and (min-width: 1280px) {
  .form-btn {
    margin-bottom: 0;
  }
}
.rent-img {
  border-radius: 24px;
}
@media only screen and (min-width: 768px) {
  .rent-img {
    width: 704px;
    height: 534px;
  }
}
@media only screen and (min-width: 1280px) {
  .rent-img {
    width: 658px;
    height: 536px;
  }
}
