/* !REWIEWS */

    .rewiews-titel-container {
  width: 100%;
  max-width: 335px;
  margin-bottom: 40px;
}

.rewiews-titel {
  color: rgb(251, 251, 251);
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.07em;
  text-align: center;

  padding-bottom: 25px;
}

.rewiews-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
}

.rewiews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rewiews-list-type {
  width: 100%;
  max-width: 335px;
  padding: 32px 16px 32px 16px;
  border-radius: 24px;
  background: rgb(251, 251, 251);
  display: none;
  flex-direction: column;
}

@media (max-width: 767px) {
  .rewiews-list-type:nth-child(1) {
    display: flex;
  }
}

.rewiews-titel-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-top: 24px;
}

.rewiews-text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  margin-top: 8px;
}

.rewiews-img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {

  .rewiews-section{
    padding-bottom: 150px;
  }

  .rewie-conteiner-one {
    width: 100%;
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
  .rewiews-titel {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 25px;
  }

  .rewiews-list-type {
    padding: 32px 20px 32px 20px;
  }
  .rewiews-titel-container {
    max-width: 704px;
    margin-bottom: 75px;
  }
  .rewiews-text {
    max-width: 571px;
    margin: 0 auto;
  }

  .rewiews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .rewiews-list-type:nth-child(-n + 2) {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {

.rewiews-section {
    padding-bottom: 150px;
  }

  .rewie-conteiner-one {
    max-width: 1280px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }
  .rewiews-list-type {
    display: flex;
  }

  .rewiews-list-type {
    padding: 32px 28px 32px 28px;
  }

  .rewiews-titel-container {
    max-width: 854px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .rewiews-text {
    padding-bottom: 75px;
  }
}
